<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"/>

<div class="container">
    <div>
        <ol class="breadcrumb">
            <li><a th:href="@{/music/musicList}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Wróć</a></li>
            <li><a th:href="@{/music/updateMusic?id=}+${music.id}">Edytuj</a></li>
        </ol>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img th:src="@{/image/music/}+${music.id}+'.png'" class="img-responsive center-block"/>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <h3 th:text="${music.title}"></h3>
            <div class="row">
                <div class="col-xs-6">
                    <p><strong>Autor: </strong><span th:text="${music.author}"></span></p>
                    <p><strong>Gatunek: </strong><span th:text="${music.genre}"></span></p>

                </div>
                <div class="col-xs-6">
                    <p><strong>Format: </strong><span th:text="${music.format}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>
